{% extends 'base.html' %}

{% block styles %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
  TABLE {
    width: 150px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    margin: auto;
  }
  TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
    text-align: center;
  }
  TH {
    background: #b0e0e6; /* Цвет фона */
  }
  </style>
{% endblock %}

{% block content %}
{% load static %}
  <img src="{% static 'chatbot/ChatGPT.png' %}", class="img-fluid", alt="My image" style="height: 50vh; width: 100vw">
  <div style="position: absolute; top: 0px; right: 20px; padding: 20px; color: rgb(24, 24, 24); font-size: 25px; font-family: Trebuchet MS; text-align: right;"><br><br><br>Cтатистика ↓</div>

  <h2>Всего обращений к боту - {{ response }}</h2>

  <h3>Вариант 1</h3>
<p></p>
<table>
    <colgroup>
      <col span="1" style="background:Khaki"><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
      <col style="background-color:LightCyan"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
    </colgroup>
    <tr>
      <th>Час</th>
      <th>Запросов</th>
    </tr>
    <tr>
      <td>0</td>
      <td>{{ response.0 }}</td>
    </tr>
    <tr>
      <td>1</td>
      <td>{{ response.1 }}</td>
    </tr>
    <tr>
      <td>2</td>
      <td>{{ response.2 }}</td>
    </tr>
    <tr>
      <td>3</td>
      <td>{{ response.3 }}</td>
    </tr>
    <tr>
      <td>4</td>
      <td>{{ response.4 }}</td>
    </tr>
    <tr>
      <td>5</td>
      <td>{{ response.5 }}</td>
    </tr>
    <tr>
      <td>6</td>
      <td>{{ response.6 }}</td>
    </tr>
    <tr>
      <td>7</td>
      <td>{{ response.7 }}</td>
    </tr>
    <tr>
      <td>8</td>
      <td>{{ response.8 }}</td>
    </tr>
    <tr>
      <td>9</td>
      <td>{{ response.9 }}</td>
    </tr>
    <tr>
      <td>10</td>
      <td>{{ response.10 }}</td>
    </tr>
    <tr>
      <td>11</td>
      <td>{{ response.11 }}</td>
    </tr>
    <tr>
      <td>12</td>
      <td>{{ response.12 }}</td>
    </tr>
    <tr>
      <td>13</td>
      <td>{{ response.13 }}</td>
    </tr>
    <tr>
      <td>14</td>
      <td>{{ response.14 }}</td>
    </tr>
    <tr>
      <td>15</td>
      <td>{{ response.15 }}</td>
    </tr>
    <tr>
      <td>16</td>
      <td>{{ response.16 }}</td>
    </tr>
    <tr>
      <td>17</td>
      <td>{{ response.17 }}</td>
    </tr>
    <tr>
      <td>18</td>
      <td>{{ response.18 }}</td>
    </tr>
    <tr>
      <td>19</td>
      <td>{{ response.19 }}</td>
    </tr>
    <tr>
      <td>20</td>
      <td>{{ response.20 }}</td>
    </tr>
    <tr>
      <td>21</td>
      <td>{{ response.21 }}</td>
    </tr>
    <tr>
      <td>22</td>
      <td>{{ response.22 }}</td>
    </tr>
    <tr>
      <td>23</td>
      <td>{{ response.23 }}</td>
    </tr>
  </table>
<h3>Вариант 2</h3>
<!-- <script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script> -->
<canvas id="myChart"></canvas>
<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['0','1','2','3','4','5','6','7','8','9','10','11',
                   '12','13','14','15','16','17','18','19','20','21','22','23'],
          datasets: [{
              label: 'Color Counts',
              data: [{{ num_requests.0 }}, 
                    {{ num_requests.1 }}, 
                    {{ num_requests.2 }}, 
                    {{ num_requests.3 }},
                    {{ num_requests.4 }},
                    {{ num_requests.5 }}, 
                    {{ num_requests.6 }}, 
                    {{ num_requests.7 }},
                    {{ num_requests.8 }},
                    {{ num_requests.9 }}, 
                    {{ num_requests.10 }}, 
                    {{ num_requests.11 }},
                    {{ num_requests.12 }},
                    {{ num_requests.13 }}, 
                    {{ num_requests.14 }}, 
                    {{ num_requests.15 }},
                    {{ num_requests.16 }},
                    {{ num_requests.17 }}, 
                    {{ num_requests.18 }}, 
                    {{ num_requests.19 }},
                    {{ num_requests.20 }},
                    {{ num_requests.21 }}, 
                    {{ num_requests.22 }}, 
                    {{ num_requests.23 }}],
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% endblock %}